    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    header {
        background: #f7f6f473;
        height: 100px;
        width: 2000px;
        display: flex;
        align-items: center;
        justify-content: left;
        position: fixed;
        top: 0;
        bottom: 0;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 1000px;
        margin-right: 1.25rem;
    }
    
    #link_list {
        list-style: none;
        display: flex;
        width: 600px;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Rubik', sans-serif;
    }
    
    .meny_link {
        text-decoration: none;
        color: #401c04;
        font-size: 1.475rem;
    }
    
    .meny_link:hover {
        color: black;
        font-weight: bold;
    }
    
    #fox_img {
        height: 200px;
        width: auto;
    }
    
    #video_compl {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }
    
    #home_quote {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 400px;
        position: fixed;
        top: 100px;
        font-family: 'Lora', serif;
        color: #bc4504;
        font-size: 2.5rem;
    }
    
    #food_background {
        background-image: url(../img/food_background.jpg);
        background-size: 100%;
        height: 100vh;
    }
    
    #wrapper {
        display: grid;
        height: 70vh;
        grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "ft ht et" "vt ht dr";
        font-size: 1.5rem;
    }
    
    .meny_design {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 300px;
        height: 25vh;
        position: relative;
        top: 200px;
        border: 10px double #bc4504;
        border-radius: 8%;
        background: #f7f6f473;
        margin: 9.375rem;
        margin-top: 0;
        font-family: 'Lora', serif;
        color: #02060b;
    }
    
    .meny_design:hover {
        border: inset #401c04;
    }
    
    .meny {
        font-family: 'Rubik', sans-serif;
    }
    
    #forratt {
        grid-area: ft;
    }
    
    #vegetariskt {
        grid-area: vt;
    }
    
    #huvudratt {
        grid-area: ht;
        height: 70%;
    }
    
    #efterratt {
        grid-area: et;
    }
    
    #drickor {
        grid-area: dr;
    }
    
    #contact_background {
        background-image: url(../img/resturant_background.jpg);
        background-size: 100%;
        height: 100vh;
    }
    
    #contact_header {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-family: 'Lora', serif;
        font-size: 2rem;
        color: #bc4504;
    }
    
    #contact_wrapper {
        height: 30vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #02060bd2;
        font-family: 'Rubik', sans-serif;
        color: #a3a5a8;
    }
    
    .category_header {
        margin: 1.25rem;
        font-size: 1.5rem;
    }
    
    .names {
        margin: 1.25rem;
    }